<!DOCTYPE html>
<html>
<head>
    <title>mazii</title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    
</head>
<body>
    <% include ../partials/header %>

  <div class="container-fluid">
<br>
<br>
<br>

    <div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <p class="indexTitles">The messages you got</p>

<br>
<br>
<br>

                <% if(Alarms){ %>
                    <ul class="event-list">
                        <% Alarms.forEach(function(alarm,index){ %>
                            <% if(alarm.post) { %>
                            <li>
                                <time datetime="<%= alarm.updatedAt %>">
                                    <span class="day">31</span>
                                    <span class="month">Jan</span>
                                </time>
                                <img alt="프로필이미지" src="<%= alarm.from.facebook.picture.data.url %>" />
                                <div class="info">
                                    <h4 class="title"><%= alarm.from.name%> 님께서 회원님의 여행지인 <%= alarm.post.city %> 포스트를 보고 채팅 요청을 보냇습니다.</h4>
                                    <p class="desc"> Pirate and Princess Adventure</p>
                                    <ul>
                                    <input type="hidden" id="reqUserId" value="<%= alarm.from._id %>">
                                    <input type="hidden" id="postId" value="<%= alarm.post._id %>">
                                    <input type="hidden" id="alarmId" value="<%= alarm._id %>">
                                    <% if(alarm.checked === false) { %>
                                        <li style="width:33%;" class="chatReqAcceptBtn">수락하기 <span class="fa fa-handshake-o"></span></li>
                                        <li style="width:34%;">거절하기 <span class="fa fa-hand-stop-o"></span></li>
                                        <% } else { %>
                                        <span>처리됨</span>
                                        <% } %>
                                    </ul>
                                </div>
                                <div class="social">
                                    <ul>
                                    </ul>
                                </div>
                            </li>
                            <% }else{ %>
                                삭제된 게시글에 대한 요청 by <%= alarm.from.name%> 
                            <% } %>
                        <% }) %>
                    </ul>
               <% } %>

			</div>
		</div>
	</div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    샘플 Alarms[0] : 
     <pre>
        <%= Alarms[0] %>
    </pre>


  </div> <!--container-fluid end -->

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/alarm/alarmIndex.js"></script>
</body>
</html>