<!DOCTYPE html>
<html>
<head>
    <title>mazii</title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    
</head>
<body>
    <% include ../partials/header %>

  <div class="container-fluid">
<br>
<br>
<br>
    <% if(Alarms){ %>
        <ul>
      <% Alarms.forEach(function(alarm,index){ %>
      <% if(alarm.post) { %>
          <li class="">
              <%= alarm.from.name%> 님께서 회원님의 여행지인 <%= alarm.post.city %> 포스트를 보고 채팅 요청을 보냇습니다.
              <p>수락하시겟습니까?</p> - <%= alarm.createdAt %>
              <input type="hidden" id="reqUserId" value="<%= alarm.from._id %>">
              <input type="hidden" id="postId" value="<%= alarm.post._id %>">
              <input type="hidden" id="alarmId" value="<%= alarm._id %>">
              <% if(alarm.checked === false) { %>
                <div class="button btn-primary chatReqAcceptBtn">예 <%= alarm._id %></div>
                <% } else { %>
                <span>처리됨</span>
                <% } %>
          </li>
          <% }else{ %>
                 삭제된 게시글에 대한 요청 by <%= alarm.from.name%> 
          <% } %>
          
      <% }) %>
        </ul>
    <% } %>

    샘플 Alarms[0] : 
   <pre>
        <%= Alarms[0] %>
    </pre>

  </div> <!--container-fluid end -->

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/chat/alarmIndex.js"></script>
</body>
</html>
