<!DOCTYPE html>
<html>
<head>
    <% let chatList = user.chatAttendedPost %>
    <% let ListCount = chatList.length %>

    <title>mazii</title>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    
</head>
<body>
    <% include ../partials/header %>

  <div class="container-fluid">
<br>
<br>
<br>
    <div class="hide userEmail"><%= user.email %></div>
  <p class="text-center chat-list-title"><%= user.name %>님의 대화 목록입니다</p>

  <section class="card-holder">
      <!-- Begin  -->
      <% chatList.forEach((post,index)=>{ %>
        <div class="col-md-3 col-sm-12">
          <div class="card-container">
              <div class="front">
                <div class="cover text-center">
                  <%= post.city %> <br>
                  <span class="chat-StartDay"><%= post.Date.start %></span> ..
                  <span class="chat-EndDay"><%= post.Date.end %></span>
                </div>

                <div class="author-picture">
                  <img src="<%= post.author.facebook.picture.data.url %>" class="img-circle author-img" />
                </div>

                <div class="user-picture">
                  <% post.chatAttendee.forEach((attendee,index)=>{ %>
                    <input type="hidden" name="attendeeName" value="<%= attendee.email %>"> 
                    <img src="<%= attendee.facebook.picture.data.url %>" class="img-circle user-img" />
                  <% }) %>
                </div>
                  
                <div class="footer ound hollow text-center">
                  <input type="hidden" name="postId" value="<%= post._id %>">
                    <a href="#" class="open-btn addClass" class=""><i class="fa fa-whatsapp" aria-hidden="true"></i> Click Here</a>
                </div>
              </div>
          </div>
        </div>
       <% })%>
      </section>

      <br>
      <br>
      <br>
      <br>

  </div> <!--container-fluid end -->




        <!-- 채팅창 팝업부분 -->
<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar sidebar_secondary">

<div class="popup-head">
    			<div class="popup-head-left pull-left">
                    <a Design and Developmenta title="Gurdeep Osahan (Web Designer)" target="_blank" href="https://web.facebook.com/iamgurdeeposahan">
                    <img class="md-user-image" alt="Gurdeep Osahan (Web Designer)"
                                    src="<%= user.facebook.picture.data.url %>" 
                                    title="Gurdeep Osahan (Web Designer)" 
                                    alt="Gurdeep Osahan (Web Designer)"/>
                    <h1><%= user.name %></h1><small><br></a></div>
					  <div class="popup-head-right pull-right">
						<button data-widget="remove" class="chat-header-button pull-right removeClass" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                      </div>
			    </div>

<div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
                        <div class="chat_box touchscroll chat_box_colors_a">

                            <div class="chat_message_wrapper">
                                <div class="chat_user_avatar">
                                    <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" >
                                    <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)"  src="http://www.webncc.in/images/gurdeeposahan.jpg" class="md-user-image">
                                    </a>
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                                    </li>
                                    <li>
                                        <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                                    </li>
                                </ul>
                            </div>

                            <div class="chat_message_wrapper chat_message_right">
                                <div class="chat_user_avatar">
                                <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" >
                                    <img alt="Gurdeep Osahan (Web Designer)" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="md-user-image">
                                </a>
                                </div>
                                <ul class="chat_message">
                                    <li>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                                            <span class="chat_message_time">13:34</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    
</div>

<div class="chat_submit_box">
    <div class="uk-input-group">
        <div class="gurdeep-chat-box">

        <input type="text" placeholder="Type a message" id="submit_message" name="submit_message" class="md-input">
        <span style="vertical-align: sub;" class="uk-input-group-addon">
        <a href="#"><i class="fa fa-camera"></i></a>
        </span>
        </div>
    
    <span class="uk-input-group-addon">
    <a href="#"><i class="glyphicon glyphicon-send"></i></a>
    </span>
    </div>
</div>
        
        </div>

</aside>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script src="/javascripts/chat/chatList.js"></script>
    <script src="/javascripts/chat/chatIndex.js"></script>
    <script src="/javascripts/chat/socket.js"></script>
    <script>

    </script>
 
    <pre>
      채팅 갯수 <%= ListCount %>
      <br>
      <%= chatList[0] %>
    </pre>
</body>
</html>
