<!DOCTYPE html>
<html>
<head>
    <% include ../partials/stylesheet %>
    <script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
</head>
<body>
    <!-- Fixed navbar -->
<% include ../partials/header %>
<!-- Fixed navbar -->

    <div class="container postWrtieContainer">
        <p class="text-center"><%=user.name %></p>
        <p class="text-center"><img src="<%= user.facebook.picture.data.url %>" alt="s" class="img-circle">
        </p>
        <p class="text-center"><%=travelInfo.city %></p>
        <div class="row text-center">
            <%=travelInfo.startDate %> ~ 
            <%=travelInfo.endDate %>
        </div>


        <div class="postEditor">    
            <form method="post" action="/post/modifyById/<%= travelInfo._id %>">
                <input type="hidden" name="city" value="<%= travelInfo.city %>" />
                <input type="hidden" name="author" value="<%= user.name %>" />
                <input type="hidden" name="email" value="<%= user.email %>" />
                <input type="hidden" name="picture" value="<%= user.facebook.picture.data.url %>" />
                <input type="hidden" name="startDate" value="<%= travelInfo.startDate %>" />
                <input type="hidden" name="endDate" value="<%= travelInfo.endDate %>" />
                <textarea name="editor1" id="editor1"><%= travelInfo.content%></textarea>
                    <script>
                        CKEDITOR.replace('editor1',{
                            filebrowserUploadUrl: '/post/uploadImage'
                        });
                        
                        let data = CKEDITOR.instances.editor1.getData();
                    </script>
                <button type="submit" class="btn">수정하기</button>
            </form>
        </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>
