<!---->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/stylesheet %>
</head>
<body>
    <!-- Fixed navbar -->
<% include ../partials/header %>
<!-- Fixed navbar -->


    <div class="container">
        <% if(profileUser && emailId) {%>
            <div class="avatar-container">
                <div class="avatar-flip">
                    <img src="<%= profileUser.facebook.picture.data.url %>" height="150" width="150">
                    <img src="<%= profileUser.facebook.picture.data.url %>" height="150" width="150">mazzi</img>
                </div>
                <h2><%= profileUser.name %></h2>
                <a href="https://www.facebook.com/<%=emailId%>"><%= profileUser.name %>님의 페이스북 들여다보기</a>
            </div>
        <%} %>    


    </div>


    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script>
        
    </script>

</body>
</html>
