<div>
<p class="indexTitles">The most recent Trip</p>
<% if(popularPost) {%>
              <% let length = popularPost.length %>
              <% popularPost.forEach((post,index)=>{ %>
                <% if(index === 0 || index === 3 || index == 6) { %>
                  <div class="row popularRow">
                  <% } %>

                  <div class="col-xs-6 col-md-4">
                  <a href="/auth/profile/<%= post.author.email %>">
                    <div class="aspect_5_3">
                        <img src="<%= post.author.facebook.picture.data.url %>" class="profileImage"/>
                    </div>
                      <div class=""><%= post.author.name %>, <%= post.city %>
                      </div>
                      <span class="popularRowStartDay"><%= post.Date.start%></span>~
                      <span class="popularRowEndDay"><%= post.Date.end%></span>
                      <div class="popularContent"> <%= post.content %> </div>
                      </a>
                  </div>

                <% if(index === 2 || index === 5 || index == 8|| index == length) { %>
                </div>
                <% } %>
              <% }) %>
        <%} %>
</div>